<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaurav.assetmanage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterIt" />
        <activity android:name=".LoggedPage" />
        <activity android:name=".Setting" />
        <activity android:name=".AssetReceving" />
        <activity android:name=".Warranty" />
        <activity android:name=".Assory" />
        <activity android:name=".Reports" />
        <activity android:name=".Display_Reports"></activity>
    </application>

</manifest>